.layout {
  min-height: 100vh;
  display: grid;
  background: #f9fafb;
  color: #333;
  font-family: "Inter", sans-serif;

  .content {
    display: grid;
    grid-template-areas:
      "header header"
      "create list";
    grid-template-columns: 1fr 1fr;   // dvi kolonos
    grid-template-rows: auto 1fr;     // eilutės: header viršuje, create+list apačioje
    gap: 20px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 768px) {
      grid-template-areas:
        "header"
        "create"
        "list";
      grid-template-columns: 1fr; // telefone vienas po kitu
    }
  }

  .header-panel {
    grid-area: header;
    background: #fff;
    border-radius: 16px;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    height: 150px;

    .card-header {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    
     
    }
  }

  .create-panel {
    grid-area: create;
    background: #fff;
    border-radius: 16px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  }

  .list-panel {
    grid-area: list;
    background: #fff;
    border-radius: 16px;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  }
}
